# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
server/client/node_modules
server/node_modules
server/client/.pnp
server/client/pnp.js

# testing
server/client/coverage

# production
client/build
server/.env

# misc
server/client/.DS_Store
server/client/.env.local
server/client/.env.development.local
server/client/.env.test.local
server/client/.env.production.local

server/client/npm-debug.log*
server/client/yarn-debug.log*
server/client/yarn-error.log*
.vscode
