<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawPoll</title>
</head>
<body>
    <h1>PawPoll!</h1>
    <section>
        <p>This is the homepage for PawPolls!</p>
    </section>
</body>
</html>