<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawPoll</title>
    <script type="text/javascript">


    </script>
</head>
<body>
    <h1>Paw Poll!</h1>
    <form action="/polls" method="post">
        <div id="question">
            <label for="question"></label>
            <input type="text" id="question" placeholder="Question" name="question">
            <br />
        </div>
        <div id="author">
            <label for="author"></label>
            <input type="text" id="author" placeholder="Author" name="author">
            <br />
        </div>
        <div id="answers">
            <label for="answer1"></label>
            <input type="text" id="answer1" placeholder="answer" name="answer1">
            <br />
            <label for="answer2"></label>
            <input type="text" id="answer2" placeholder="answer" name="answer2">
            <br />
            <label for="answer3"></label>
            <input type="text" id="answer3" placeholder="answer" name="answer3">
            <br />
        </div>
    </form>
</body>
</html>